/* test_config.css - Page-specific styles for test_config.html */


#download-test-mapping-btn {
    width: 100%;
    margin-bottom: 14px;
}

#upload-test-mapping-input {
    display: inline;
}

#add-config-btn {
    margin-left: 8px;
}

#config-name {
    width: 160px;
    margin-right: 16px;
}

#config-desc {
    width: 300px;
}

#test-mapping-table {
    width: 100%;
}

#spinner {
    display: none;
}
