<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Configuration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/app_config.css">
</head>
<body>
    <div class="container">
        {% include '_sidebar.html' %}
        <main class="main-content">
            <h1>App Configuration</h1>
            <div id="config-container">
                <form id="app-config-form">
    <div class="form-group">
        <h3>Test Chamber Page Labels</h3>
        <label for="test-chamber-page-name">Test Chamber Page Name</label>
        <input type="text" id="test-chamber-page-name" name="test_chamber_page_name" value="" />
    </div>
    <hr>
    <div class="form-group">
        <h3>Test Configuration Page Labels</h3>
        <label for="test-config-page-name">Page Name</label>
        <input type="text" id="test-config-page-name" name="test_config_page_name" value="" />
        <label for="cabinet-connection-label">Cabinet Connection Column Label</label>
        <input type="text" id="cabinet-connection-label" name="cabinet_connection_label" value="" />
        <label for="device-sensor-label">Device Sensor Column Label</label>
        <input type="text" id="device-sensor-label" name="device_sensor_label" value="" />
    </div>
</form>
</div>
<button id="save-btn" type="submit" form="app-config-form">Save</button>
<span id="save-status">Saved!</span>
<script src="/static/app_config.js"></script>
            </div>
        </main>
    </div>
</body>
</html>
